---
- name: Application Set Info
  hosts: catalystcenter_servers
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.app_policy_queuing_profile:
        host: "{{ host }}"
        username: "{{ username }}"
        password: "{{ password }}"
        verify: "{{ verify }}"
        api_port: "{{ api_port }}"
        version: "{{ version }}"
        debug: "{{ debug }}"
        state: present
        id: "a"
        payload:
          - clause:
              - interfaceSpeedBandwidthClauses:
                  - interfaceSpeed: string
                    tcBandwidthSettings:
                      - bandwidthPercentage: 0
                        trafficClass: string
                isCommonBetweenAllInterfaceSpeeds: true
                tcDscpSettings:
                  - dscp: string
                    trafficClass: string
                type: string
            description: string
            name: string
            id: string
