---
- name: Application Set Info
  hosts: catalystcenter_servers
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.app_policy_queuing_profile:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        id: "a"
        payload:
          - clause:
              - interfaceSpeedBandwidthClauses:
                  - interfaceSpeed: string
                    tcBandwidthSettings:
                      - bandwidthPercentage: 0
                        trafficClass: string
                isCommonBetweenAllInterfaceSpeeds: true
                tcDscpSettings:
                  - dscp: string
                    trafficClass: string
                type: string
            description: string
            name: string
            id: string
