---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create an application set
      cisco.catalystcenter.application_sets:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        state: present
        payload:
          - name: AppSet1
      register: application_set_result
    - name: Get task info
      cisco.catalystcenter.task_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        taskId: "{{ application_set_result.catalystcenter_response.response.taskId }}"
      when:
        - application_set_result.catalystcenter_response is defined
        - application_set_result.catalystcenter_response.response is defined
        - application_set_result.catalystcenter_response.response.taskId is defined
      register: task_result
    - name: Show new application_set
      ansible.builtin.debug:
        msg: "{{ application_set_result }}"
      when:
        - application_set_result is defined
    - name: Show retrieved task
      ansible.builtin.debug:
        msg: "{{ task_result.catalystcenter_response.response }}"
      when:
        - task_result is defined
        - task_result.catalystcenter_response is defined
