---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get application sets local-services
      cisco.catalystcenter.application_sets_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        name: local-services
        # limit: 3
        # offset: 2
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
