---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Import certificate file
      cisco.catalystcenter.authentication_import_certificate:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        certFilePath: ./files/test.template
        pkFilePath: ./files/test.template
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
