---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Import certificate file
      cisco.catalystcenter.authentication_import_certificate:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        certFilePath: ./files/test.template
        pkFilePath: ./files/test.template
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
