---
- name: Take running config backup of devices
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ CLUSTERFILE }}"
  vars:
    catalystcenter_login: &catalystcenter_login
      catc_host: "{{ catc_host }}"
      catc_username: "{{ catc_username }}"
      catc_password: "{{ catc_password }}"
      catc_verify: "{{ catc_verify }}"
      catc_api_port: "{{ catc_api_port }}"
      catc_version: "{{ catc_version }}"
      catc_debug: "{{ catc_debug }}"
      log_level: "DEBUG"
  tasks:
    - name: Take backup of a wired 9500 switch
      cisco.catalystcenter.device_configs_backup_workflow_manager:
        !!merge <<: *catalystcenter_login
        log: true
        state: merged
        configverify: true
        config:
          - hostname: NY-BN-9500.cisco.local
            file_path: /home/admin/madhan_ansible/collections/ansible_collections/cisco/catalystcenter/playbooks/new_tmp
    - name: Take backup of all the switches
      cisco.catalystcenter.device_configs_backup_workflow_manager:
        !!merge <<: *catalystcenter_login
        log: true
        state: merged
        configverify: true
        config:
          - family: Switches and Hubs
