---
- name: Take running config backup of devices
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ CLUSTERFILE }}"
  vars:
    catalystcenter_login: &catalystcenter_login
      catalystcenter_host: "{{ catalystcenter_host }}"
      catalystcenter_username: "{{ catalystcenter_username }}"
      catalystcenter_password: "{{ catalystcenter_password }}"
      catalystcenter_verify: "{{ catalystcenter_verify }}"
      catalystcenter_port: "{{ catalystcenter_port }}"
      catalystcenter_version: "{{ catalystcenter_version }}"
      catalystcenter_debug: "{{ catalystcenter_debug }}"
      catalystcenter_log_level: "DEBUG"
  tasks:
    - name: Take backup of a wired 9500 switch
      cisco.catalystcenter.device_configs_backup_workflow_manager:
        !!merge <<: *catalystcenter_login
        catalystcenter_log: true
        state: merged
        config_verify: true
        config:
          - hostname: NY-BN-9500.cisco.local
            file_path: /home/admin/madhan_ansible/collections/ansible_collections/cisco/catalystcenter/playbooks/new_tmp
    - name: Take backup of all the switches
      cisco.catalystcenter.device_configs_backup_workflow_manager:
        !!merge <<: *catalystcenter_login
        catalystcenter_log: true
        state: merged
        config_verify: true
        config:
          - family: Switches and Hubs
