---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create Configuration Template Version
      cisco.catalystcenter.configuration_template_version_create:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        # comments: string
        templateId: 2121f1d7-d9ea-4eea-8f83-45af2941f5f9
      register: configuration_template_version_create_result
    - name: Get task info
      cisco.catalystcenter.task_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        taskId: "{{ configuration_template_version_create_result.catalystcenter_response.response.taskId }}"
      when:
        - configuration_template_version_create_result.catalystcenter_response is defined
        - configuration_template_version_create_result.catalystcenter_response.response is defined
        - configuration_template_version_create_result.catalystcenter_response.response.taskId is defined
      register: task_result
    - name: Show new configuration_template_version
      ansible.builtin.debug:
        msg: "{{ configuration_template_version_create_result }}"
      when:
        - configuration_template_version_create_result is defined
    - name: Show retrieved task
      ansible.builtin.debug:
        msg: "{{ task_result.catalystcenter_response.response }}"
      when:
        - task_result is defined
        - task_result.catalystcenter_response is defined
