---
host: <A.B.C.D>
api_port: 443
username: <username>
password: <password>
version: 2.3.7.6
verify: False
debug: False
log_level: [CRITICAL, ERROR, WARNING, INFO, DEBUG]
log_file_path: <file_path>
log_append: True
