---
catc_host: <A.B.C.D>
catc_api_port: 443
catc_username: <username>
catc_password: <password>
catc_version: 2.3.7.6
catc_verify: False
catc_debug: False
log_level: [CRITICAL, ERROR, WARNING, INFO, DEBUG]
log_file_path: <file_path>
log_append: True
