---
- name: Provision and Re-provision wired and wireless devices
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ CLUSTERFILE }}"
  vars:
    catalystcenter_login: &catalystcenter_login
      catc_host: "{{ catc_host }}"
      catc_username: "{{ catc_username }}"
      catc_password: "{{ catc_password }}"
      catc_verify: "{{ catc_verify }}"
      catc_api_port: "{{ catc_api_port }}"
      catc_version: "{{ catc_version }}"
      catc_debug: "{{ catc_debug }}"
      catc_log_level: "{{ catc_log_level }}"
  tasks:
    - name: Assign a wired device to a site
      cisco.catalystcenter.provision_workflow_manager:
        !!merge <<: *catalystcenter_login
        catc_log: true
        state: merged
        configverify: true
        config:
          - site_name_hierarchy: Global/USA/New York/NY_BLD1
            management_ip_address: 204.192.3.40
            provisioning: false
    - name: Provision a wired device to a site
      cisco.catalystcenter.provision_workflow_manager:
        !!merge <<: *catalystcenter_login
        catc_log: true
        catc_log_level: DEBUG
        state: merged
        configverify: true
        config:
          - site_name_hierarchy: Global/USA/SAN JOSE/BLD23/BLD20_FLOOR2
            management_ip_address: 204.192.3.40
    - name: Unprovision a wired device from a site
      cisco.catalystcenter.provision_workflow_manager:
        !!merge <<: *catalystcenter_login
        catc_log: true
        state: deleted
        config:
          - management_ip_address: 204.1.2.2
    - name: Provision a wireless device to a site
      cisco.catalystcenter.provision_workflow_manager:
        !!merge <<: *catalystcenter_login
        catc_log: true
        catc_log_level: DEBUG
        state: merged
        configverify: true
        config:
          - site_name_hierarchy: Global/USA/RTP/BLD11
            management_ip_address: 204.192.12.201
            managed_ap_locations:
              - Global/USA/RTP/BLD11/BLD11_FLOOR1
