---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  connection: local
  tasks:
    - name: Create Credentials and assign it to a site.
      #
      # Project Info  Section
      #

      cisco.catalystcenter.device_credential_intent:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log: true
        state: merged
        config:
          - global_credential_details:
              cli_credential:
                - description: CLI1
                  username: cli1
                  password: '12345'
                  enablepassword: '12345'
                  # old_description:
                  # oldusername:
                  # id: e448ea13-4de0-406b-bc6e-f72b57ed6746  # Use this for updation or deletion
              snmp_v2c_read:
                - description: SNMPv2c Read1  # use this for deletion
                  read_community: '123456'
                  # old_description:  # use this for updating the description
                  # id: 0ee7d677-8804-43f2-8b6c-599c5f18348f  # Use this for updation or deletion
              snmp_v2c_write:
                - description: SNMPv2c Write1  # use this for deletion
                  write_community: '123456'
                  # old_description:  # use this for updating the description
                  # id: a96abc1b-1fd6-41f1-8a6d-a5569c17262d  # Use this for updation or deletion
              snmp_v3:
                - authpassword: '12345678'  # Atleast 8 characters
                  auth_type: SHA  # [SHA, MD5] (SHA is recommended)
                  snmp_mode: AUTHPRIV  # [AUTHPRIV, AUTHNOPRIV, NOAUTHNOPRIV]
                  privacypassword: '12345678'  # Atleast 8 characters
                  privacy_type: AES128  # [AE128, AE192, AE256]
                  username: snmpV31
                  description: snmpV31
                  # old_description:
                  # id: d8974823-250a-41b0-8c9b-b27b2ae01472  # Use this for updation or deletion
              https_read:
                - description: HTTP Read1
                  username: HTTP_Read1
                  password: '12345'
                  port: 443
                  # old_description:
                  # oldusername:
                  # id: a7ef9995-e404-4240-94ca-b5f37f65c19d  # Use this for updation or deletion
              https_write:
                - description: HTTP Write1
                  username: HTTP_Write1
                  password: '12345'
                  port: 443
                  # old_description:
                  # oldusername:
                  # id: bec9818e-30cd-468b-bf75-292beefc2e20  # Use this for updation or deletion
            assign_credentials_to_site:
              cli_credential:
                # description: CLI
                # username: cli
                id: 2fc5f7d4-cf15-4a4f-99b3-f086e8dd6350
              snmp_v2c_read:
                # description: SNMPv2c Read
                id: a966a4e5-9d11-4683-8edc-a5ad8fa59ee3
              snmp_v2c_write:
                # description: SNMPv2c Write
                id: 7cd072a4-2263-4087-b6ec-93b20958e286
              snmp_v3:
                # description: snmpV3
                id: c08a1797-84ce-4add-94a3-b419b13621e4
              https_read:
                # description: HTTP Read
                # username: HTTP_Read
                id: 1009725d-373b-4e7c-a091-300777e2bbe2
              https_write:
                # description: HTTP Write
                # username: HTTP_Write
                id: f1ab6e3d-01e9-4d87-8271-3ac5fde83980
              site_name:
                - Global/Chennai/Trill
                - Global/Chennai/Tidel
    - name: Delete Credentials
      cisco.catalystcenter.device_credential_intent:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log: true
        state: deleted
        config:
          - global_credential_details:
              cli_credential:
                - description: CLI1
                  username: cli1
              snmp_v2c_read:
                - description: SNMPv2c Read1  # use this for deletion
              snmp_v2c_write:
                - description: SNMPv2c Write1  # use this for deletion
              snmp_v3:
                - description: snmpV31
              https_read:
                - description: HTTP Read1
                  username: HTTP_Read1
              https_write:
                - description: HTTP Write1
                  username: HTTP_Write1
