---
- name: Provision and Re-provision wired and wireless devices
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ CLUSTERFILE }}"
  vars:
    catalystcenter_login: &catalystcenter_login
      catc_host: "{{ catc_host }}"
      catc_username: "{{ catc_username }}"
      catc_password: "{{ catc_password }}"
      catc_verify: "{{ catc_verify }}"
      catc_api_port: "{{ catc_api_port }}"
      catc_version: "{{ catc_version }}"
      catc_debug: "{{ catc_debug }}"
  tasks:
    - name: Provision a wired device to a site
      cisco.catalystcenter.provision_intent:
        !!merge <<: *catalystcenter_login
        catc_log: true
        state: merged
        config:
          - site_name: Global/USA/San Francisco/BGL_18
            management_ip_address: 204.1.2.2
    - name: Unprovision a wired device to a site
      cisco.catalystcenter.provision_intent:
        !!merge <<: *catalystcenter_login
        catc_log: true
        state: deleted
        config:
          - management_ip_address: 204.1.2.2
