---
- name: Provision and Re-provision wired and wireless devices
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "{{ CLUSTERFILE }}"
  vars:
    catalystcenter_login: &catalystcenter_login
      catalystcenter_host: "{{ catalystcenter_host }}"
      catalystcenter_username: "{{ catalystcenter_username }}"
      catalystcenter_password: "{{ catalystcenter_password }}"
      catalystcenter_verify: "{{ catalystcenter_verify }}"
      catalystcenter_api_port: "{{ catalystcenter_api_port }}"
      catalystcenter_version: "{{ catalystcenter_version }}"
      catalystcenter_debug: "{{ catalystcenter_debug }}"
  tasks:
    - name: Provision a wired device to a site
      cisco.catalystcenter.provision_intent:
        !!merge <<: *catalystcenter_login
        catalystcenter_log: true
        state: merged
        config:
          - site_name: Global/USA/San Francisco/BGL_18
            management_ip_address: 204.1.2.2
    - name: Unprovision a wired device to a site
      cisco.catalystcenter.provision_intent:
        !!merge <<: *catalystcenter_login
        catalystcenter_log: true
        state: deleted
        config:
          - management_ip_address: 204.1.2.2
