---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  connection: local
  tasks:
    - name: Create global device credentials.
      cisco.catalystcenter.device_credential_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        state: merged
        configverify: true
        config:
          - global_credential_details:
              cli_credential:
                - description: CLI1
                  username: cli1
                  password: '12345'
                  enablepassword: '12345'
                  # old_description:
                  # oldusername:
              snmp_v2c_read:
                - description: SNMPv2c Read1  # use this for deletion
                  read_community: '123456'
                  # old_description:  # use this for updating the description
              snmp_v2c_write:
                - description: SNMPv2c Write1  # use this for deletion
                  write_community: '123456'
                  # old_description:  # use this for updating the description
              snmp_v3:
                - authpassword: '12345678'  # Atleast 8 characters
                  auth_type: SHA  # [SHA, MD5] (SHA is recommended)
                  snmp_mode: AUTHPRIV  # [AUTHPRIV, AUTHNOPRIV, NOAUTHNOPRIV]
                  privacypassword: '12345678'  # Atleast 8 characters
                  privacy_type: AES128  # [AE128, AE192, AE256]
                  username: snmpV31
                  description: snmpV31
                  # old_description:
              https_read:
                - description: HTTP Read1
                  username: HTTP_Read1
                  password: '12345'
                  port: 443
                  # old_description:
                  # oldusername:
              https_write:
                - description: HTTP Write1
                  username: HTTP_Write1
                  password: '12345'
                  port: 443
                  # old_description:
                  # oldusername:
    - name: Assign global device credentials to a site.
      cisco.catalystcenter.device_credential_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        state: merged
        configverify: true
        config:
          - assign_credentials_to_site:
              cli_credential:
                description: CLI
                username: cli
              snmp_v2c_read:
                description: SNMPv2c Read
              snmp_v2c_write:
                description: SNMPv2c Write
              snmp_v3:
                description: snmpV3
              https_read:
                description: HTTP Read
                username: HTTP_Read
              https_write:
                description: HTTP Write
                username: HTTP_Write
              site_name:
                - Global/Chennai/Trill
                - Global/Chennai/Tidel
    - name: Delete credentials
      cisco.catalystcenter.device_credential_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        state: deleted
        configverify: true
        config:
          - global_credential_details:
              cli_credential:
                - description: CLI1
                  username: cli1
              snmp_v2c_read:
                - description: SNMPv2c Read1  # use this for deletion
              snmp_v2c_write:
                - description: SNMPv2c Write1  # use this for deletion
              snmp_v3:
                - description: snmpV31
              https_read:
                - description: HTTP Read1
                  username: HTTP_Read1
              https_write:
                - description: HTTP Write1
                  username: HTTP_Write1
