---
- name: Event webhook create
  hosts: catalystcenter_servers
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Test
      cisco.catalystcenter.event_webhook:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        debug: true
        description: "webhok description for iac2.0"
        headers:
          - defaultValue: string
            encrypt: false
            name: "X-Auth-Token"
            value: "qejfkq;..."
        method: "Put"
        name: "TestwebHoodIac23"
        trustCert: false
        url: "url"
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
