---
- name: Get tag members by id
  hosts: catalystcenter_servers
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get application sets local-services
      cisco.catalystcenter.tag_member_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        memberType: interface
        id: 4f53e256-7219-4e88-a648-69d0e37a3df6
        offset: 3
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
