---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create CLI Credential
      cisco.catalystcenter.cli_credential:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        state: present
        validate_response_schema: false
        enablePassword: C2sco456!
        description: Test2 Ansible
    - name: Create SNMPV3 Credential
      cisco.catalystcenter.snmpv3_credential:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        state: present
        validate_response_schema: false
        snmpMode: NOAUTHNOPRIV
        description: user2 222
