---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get all Global Credential by SubType
      cisco.catalystcenter.global_credential_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        credentialSubType: HTTP_READ
        # sortBy:
        # order:
      register: global_credentials_result
    - name: Show global_credentials
      ansible.builtin.debug:
        msg: "{{ global_credentials_result }}"
    - name: Get Global Credential by id
      cisco.catalystcenter.global_credential_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        id: babc42b9-0bdd-49ef-912e-66f533fb5d59
        credentialSubType: HTTP_READ
      register: global_credential_result
    - name: Show global_credential
      ansible.builtin.debug:
        msg: "{{ global_credential_result }}"
