---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create CLI Credential
      cisco.catalystcenter.cli_credential:
        host: "{{ host }}"
        username: "{{ username }}"
        password: "{{ password }}"
        verify: "{{ verify }}"
        version: "{{ version }}"
        debug: "{{ debug }}"
        state: present
        validate_response_schema: false
        enablePassword: C2sco456!
        description: Test2 Ansible
    - name: Create SNMPV3 Credential
      cisco.catalystcenter.snmpv3_credential:
        host: "{{ host }}"
        username: "{{ username }}"
        password: "{{ password }}"
        version: "{{ version }}"
        debug: "{{ debug }}"
        verify: "{{ verify }}"
        state: present
        validate_response_schema: false
        snmpMode: NOAUTHNOPRIV
        description: user2 222
