---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Find discovery
      cisco.catalystcenter.global_pool:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        # id: 1bf5ecf3-be14-48fb-b724-df801bc61172
        settings:
          ippool:
            - IpAddressSpace: string
              dhcpServerIps: []
              dnsServerIps: []
              gateway: ""
              ipPoolCidr: 30.0.0.0/8
              ipPoolName: v4pool-test2
              type: Generic
      register: discovery_range_result
