---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get all Global Credential by SubType
      cisco.catalystcenter.global_credential_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        credentialSubType: HTTP_READ
        # sortBy:
        # order:
      register: global_credentials_result
    - name: Show global_credentials
      ansible.builtin.debug:
        msg: "{{ global_credentials_result }}"
    - name: Get Global Credential by id
      cisco.catalystcenter.global_credential_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        id: babc42b9-0bdd-49ef-912e-66f533fb5d59
        credentialSubType: HTTP_READ
      register: global_credential_result
    - name: Show global_credential
      ansible.builtin.debug:
        msg: "{{ global_credential_result }}"
