---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create CLI Credential
      cisco.catalystcenter.cli_credential:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        validate_response_schema: false
        enablePassword: C2sco456!
        description: Test2 Ansible
    - name: Create SNMPV3 Credential
      cisco.catalystcenter.snmpv3_credential:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        catc_verify: "{{ catc_verify }}"
        state: present
        validate_response_schema: false
        snmpMode: NOAUTHNOPRIV
        description: user2 222
