---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Import image file
      cisco.catalystcenter.swim_import_local:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        filePath: fullpath/playbooks/files/test.template  # string
        isThirdParty: true  # boolean
        thirdPartyApplicationType: SomeValue  # string
        thirdPartyImageFamily: SomeValue  # string
        thirdPartyVendor: SomeValue  # string
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result }}"
