---
- name: Configure device credentials on Cisco CATALYST Center
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "input_inventory.yml"
    - "credentials.yml"
  tasks:
    - name: Add/Update/Resync/Delete the devices in Cisco CATALYST Center Inventory.
      cisco.catalystcenter.inventory_intent:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_api_port: "{{ catalystcenter_api_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log: true
        state: merged
        config:
          - username: "{{ item.username }}"
            enablepassword: "{{ item.enable_password }}"
            password: "{{ item.password }}"
            ip_address: "{{ item.ip_address }}"
            snmp_auth_passphrase: "{{ item.snmp_auth_passphrase }}"
            snmp_auth_protocol: "{{ item.snmp_auth_protocol }}"
            snmp_mode: "{{ item.snmp_mode }}"
            snmp_priv_passphrase: "{{ item.snmp_priv_passphrase }}"
            snmp_priv_protocol: "{{ item.snmp_priv_protocol }}"
            snmp_ro_community: "{{ item.snmp_ro_community }}"
            snmp_rw_community: "{{ item.snmp_rw_community }}"
            snmpusername: "{{ item.snmp_username }}"
            device_updated: "{{ item.device_updated }}"
            clean_config: "{{ item.clean_config }}"
            type: "{{ item.type }}"
            update_device_role:
              role: "{{ item.role }}"
              role_source: "{{ item.role_source }}"
            add_user_defined_field:
              name: "{{ item.name }}"
              description: "{{ item.description }}"
              value: "{{ item.value }}"
            provision_wired_device:
              site_name: "{{ item.site_name }}"
            export_device_list:
              password: "{{ item.export_device_list.password }}"
              operation_enum: "{{ item.export_device_list.operation_enum }}"
            reboot_device: "{{ item.reboot_device }}"
      with_items: "{{ device_details }}"
      tags:
        - inventory_device
