---
- name: Configure device credentials on Cisco CATALYST Center
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "input_inventory.yml"
    - "credentials.yml"
  tasks:
    - name: Add/Update/Resync/Delete the devices in Cisco CATALYST Center Inventory.
      cisco.catalystcenter.inventory_workflow_manager:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_api_port: "{{ catalystcenter_api_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log_level: DEBUG
        catalystcenter_log: true
        config_verify: true
        state: merged
        config:
          - username: "{{ item.username }}"
            password: "{{ item.password }}"
            enablepassword: "{{ item.enable_password }}"
            ip_address_list: "{{ item.ip_address_list }}"
            cli_transport: "{{ item.cli_transport }}"
            snmp_auth_passphrase: "{{ item.snmp_auth_passphrase }}"
            snmp_auth_protocol: "{{ item.snmp_auth_protocol }}"
            snmp_mode: "{{ item.snmp_mode }}"
            snmp_priv_passphrase: "{{ item.snmp_priv_passphrase }}"
            snmp_priv_protocol: "{{ item.snmp_priv_protocol }}"
            snmp_ro_community: "{{ item.snmp_ro_community }}"
            snmp_rw_community: "{{ item.snmp_rw_community }}"
            snmpusername: "{{ item.snmp_username }}"
            credential_update: "{{ item.credential_update }}"
            clean_config: "{{ item.clean_config }}"
            type: "{{ item.type }}"
            device_resync: "{{ item.device_resync }}"
            reboot_device: "{{ item.reboot_device }}"
            role: "{{ item.role }}"
            add_user_defined_field:
              - name: Test123
                description: "Added first udf for testing"
                value: "value123"
              - name: Test321
                description: "Added second udf for testing"
                value: "value321"
            provision_wired_device:
              - device_ip: "1.1.1.1"
                site_name: "Global/USA/San Francisco/BGL_18/floor_pnp"
                resync_retry_count: 200
                resync_interval: 2
              - device_ip: "2.2.2.2"
                site_name: "Global/USA/San Francisco/BGL_18/floor_test"
                resync_retry_count: 200
                resync_retry_interval: 2
            update_interface_details:
              description: "{{ item.update_interface_details.description }}"
              interface_name: "{{ item.interface_name }}"
            export_device_list:
              password: "{{ item.export_device_list.password }}"
      with_items: "{{ device_details }}"
      tags:
        - inventory_device
