---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  connection: local
  tasks:
    - name: Create an  Authentication and Policy Server.
      cisco.catalystcenter.ise_radius_integration_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        catc_log_level: "{{ catc_log_level }}"
        catc_log_append: true
        catc_log_file_path: "{{ catc_log_file_path }}"
        state: merged
        configverify: true
        config:
          - authentication_policy_server:
              - server_type: AAA  # [ISE, AAA]
                server_ip_address: 10.0.0.20
                shared_secret: cisco
                protocol: RADIUS_TACACS  # [TACACS, RADIUS, RADIUS_TACACS]
                encryption_scheme: KEYWRAP  # KEYWRAP or RADSEC
                encryption_key: catalystsolutions123  # For KEYWRAP, must be 16 char long
                message_authenticator_code_key: catalystisesolutions1234  # For KEYWRAP, must be 20 char long
                authentication_port: 1800
                accounting_port: 1700
                retries: 3  # Range from 1 to 3
                timeout: 4  # Range from 2 to 20
                role: secondary
    - name: Delete Authentication and Policy Server.
      cisco.catalystcenter.ise_radius_integration_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        catc_log_level: "{{ catc_log_level }}"
        catc_log_append: true
        catc_log_file_path: "{{ catc_log_file_path }}"
        state: deleted
        configverify: true
        config:
          - authentication_policy_server:
              - server_ip_address: 10.0.0.20
    - name: Create ISE Server.
      cisco.catalystcenter.ise_radius_integration_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        catc_log_level: "{{ catc_log_level }}"
        catc_log_append: true
        catc_log_file_path: "{{ catc_log_file_path }}"
        state: merged
        configverify: true
        config:
          - authentication_policy_server:
              - server_type: ISE  # [ISE, AAA]
                server_ip_address: 10.195.243.59
                shared_secret: cisco
                protocol: RADIUS_TACACS  # [TACACS, RADIUS, RADIUS_TACACS]
                encryption_scheme: KEYWRAP  # KEYWRAP or RADSEC
                encryption_key: catalystsolutions123  # For KEYWRAP, must be 16 char long
                message_authenticator_code_key: catalystisesolutions1234  # For KEYWRAP, must be 20 char long
                authentication_port: 1800
                accounting_port: 1700
                retries: 3  # Range from 1 to 3
                timeout: 4  # Range from 2 to 20
                role: primary
                pxgrid_enabled: false  # Avaliable for Cisco ISE only
                use_catalystcenter_cert_for_pxgrid: false
                cisco_ise_dtos:  # use this for creating the Cisco ISE Server
                  - user_name: admin
                    password: abcd
                    fqdn: abc.cisco.com
                    ip_address: 10.195.243.59
                    description: CISCO ISE
                trusted_server: true
                ise_integration_wait_time: 20
    - name: Delete an ISE Server.
      cisco.catalystcenter.ise_radius_integration_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        catc_log_level: "{{ catc_log_level }}"
        catc_log_append: true
        catc_log_file_path: "{{ catc_log_file_path }}"
        state: deleted
        configverify: true
        config:
          - authentication_policy_server:
              - server_ip_address: 10.195.243.59
