---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Update Network Device Role
      cisco.catalystcenter.network_device_update_role:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        id: 0c4c83f7-1fce-46fe-a0a2-ac4b2e7dfbab
        role: UNKNOWN
        roleSource: AUTO
      register: network_device_update_role_result
    - name: Get task info
      cisco.catalystcenter.task_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        taskId: "{{ network_device_update_role_result.catalystcenter_response.response.taskId }}"
      when:
        - network_device_update_role_result.catalystcenter_response is defined
        - network_device_update_role_result.catalystcenter_response.response is defined
        - network_device_update_role_result.catalystcenter_response.response.taskId is defined
      register: task_result
    - name: Show updated network_device_update_role
      ansible.builtin.debug:
        msg: "{{ network_device_update_role_result }}"
      when:
        - network_device_update_role_result is defined
    - name: Show retrieved task
      ansible.builtin.debug:
        msg: "{{ task_result.catalystcenter_response.response }}"
      when:
        - task_result is defined
        - task_result.catalystcenter_response is defined
