---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get all Network Device Custom Prompt
      cisco.catalystcenter.network_device_custom_prompt_info:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
      register: network_device_custom_prompt_result
    - name: Show all network_device_custom_prompt
      ansible.builtin.debug:
        msg: "{{ network_device_custom_prompt_result }}"
