---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Get Network Devices
      cisco.catalystcenter.network_device_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
      register: network_devices_result
    - name: Show all network_devices
      ansible.builtin.debug:
        msg: "{{ network_devices_result }}"
    - name: Get Network Device by id
      cisco.catalystcenter.network_device_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        id: 0c4c83f7-1fce-46fe-a0a2-ac4b2e7dfbab
      register: network_device_result
    - name: Show network_device
      ansible.builtin.debug:
        msg: "{{ network_device_result }}"
