---
- name: Configure device credentials on Cisco Catalyst Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Provision a wired device to a site
      cisco.catalystcenter.provision_workflow_manager:
        host: "{{ host }}"
        username: "{{ username }}"
        password: "{{ password }}"
        verify: "{{ verify }}"
        api_port: "{{ api_port }}"
        version: "{{ version }}"
        debug: "{{ debug }}"
        log: true
        log_level: DEBUG
        configverify: true
        catalystcenter_api_task_timeout: 1000
        catalystcenter_task_poll_interval: 1
        state: merged
        config:
          - site_name_hierarchy: Global/Chennai/LTTS/FLOOR1
            management_ip_address: 1.1.1.1
