---
- name: Configure device credentials on Cisco Catalyst Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Provision a wired device to a site
      cisco.catalystcenter.provision_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        catc_log_level: DEBUG
        configverify: true
        catc_api_task_timeout: 1000
        catc_task_poll_interval: 1
        state: merged
        config:
          - site_name_hierarchy: Global/Chennai/LTTS/FLOOR1
            management_ip_address: 1.1.1.1
