---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Download report content
      cisco.catalystcenter.reports_executions_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        reportId: be9d6d76-0bff-4c49-84a1-16adf58431c6
        executionId: 586da15e-5f50-4f65-8f3d-303f88dfdf18
        dirPath: /Users/wilhelm32/Downloads/dna
        saveFile: true
      register: result
    - name: Show result
      ansible.builtin.debug:
        msg: "{{ result.catalystcenter_response }}"
