---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.sda_virtual_network:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        isGuestVirtualNetwork: false
        scalableGroupNames:
          - Auditors
        virtualNetworkName: GUEST_VN
        virtualNetworkType: GUEST

# - name: Delete all
#   cisco.catalystcenter.sda_virtual_network:
#     catc_host: "{{ catc_host }}"
#     catc_username: "{{ catc_username }}"
#     catc_password: "{{ catc_password }}"
#     catc_verify: "{{ catc_verify }}"
#     catc_api_port: "{{ catc_api_port }}"
#     catc_version: "{{ catc_version }}"
#     catc_debug: "{{ catc_debug }}"
#     state: absent
#     virtualNetworkName: GUEST_VN
