---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.sda_fabric_site:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        state: present
        fabricName: CATALYST_Guide_Fabric
        siteNameHierarchy: Global/San Francisco

# - name: Delete all
#   cisco.catalystcenter.sda_fabric_site:
#     catalystcenter_host: "{{ catalystcenter_host }}"
#     catalystcenter_username: "{{ catalystcenter_username }}"
#     catalystcenter_password: "{{ catalystcenter_password }}"
#     catalystcenter_verify: "{{ catalystcenter_verify }}"
#     catalystcenter_port: "{{ catalystcenter_port }}"
#     catalystcenter_version: "{{ catalystcenter_version }}"
#     catalystcenter_debug: "{{ catalystcenter_debug }}"
#     state: absent
#     siteNameHierarchy: Global/San Francisco
#   register: result

# - name: Show result
#   debug:
#     msg: "{{ result }}"
#   when:
#     - result is defined
