---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.sda_virtual_network:
        host: "{{ host }}"
        username: "{{ username }}"
        password: "{{ password }}"
        verify: "{{ verify }}"
        api_port: "{{ api_port }}"
        version: "{{ version }}"
        debug: "{{ debug }}"
        state: present
        isGuestVirtualNetwork: false
        scalableGroupNames:
          - Auditors
        virtualNetworkName: GUEST_VN
        virtualNetworkType: GUEST

# - name: Delete all
#   cisco.catalystcenter.sda_virtual_network:
#     host: "{{ host }}"
#     username: "{{ username }}"
#     password: "{{ password }}"
#     verify: "{{ verify }}"
#     api_port: "{{ api_port }}"
#     version: "{{ version }}"
#     debug: "{{ debug }}"
#     state: absent
#     virtualNetworkName: GUEST_VN
