---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create
      cisco.catalystcenter.sda_fabric_site:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        fabricName: CATALYST_Guide_Fabric
        siteNameHierarchy: Global/San Francisco

# - name: Delete all
#   cisco.catalystcenter.sda_fabric_site:
#     catc_host: "{{ catc_host }}"
#     catc_username: "{{ catc_username }}"
#     catc_password: "{{ catc_password }}"
#     catc_verify: "{{ catc_verify }}"
#     catc_api_port: "{{ catc_api_port }}"
#     catc_version: "{{ catc_version }}"
#     catc_debug: "{{ catc_debug }}"
#     state: absent
#     siteNameHierarchy: Global/San Francisco
#   register: result

# - name: Show result
#   debug:
#     msg: "{{ result }}"
#   when:
#     - result is defined
