---
- name: Configure fabric site/zones and authentication profile template in Cisco Catalyst Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "input_fabric_sites_zones.yml"
    - "credentials.yml"
  tasks:
    - name: Configure the fabric sites/zones and authentication profile template in Cisco Catalyst Center.
      cisco.catalystcenter.sda_fabric_sites_zones_workflow_manager:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_api_port: "{{ catalystcenter_api_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log_level: DEBUG
        catalystcenter_log: true
        config_verify: true
        state: merged
        config:
          - fabric_sites:
              - site_name_hierarchy: "{{ item.fabric_sites.site_name_hierarchy }}"
                fabric_type: "{{ item.fabric_sites.fabric_type }}"
                authentication_profile: "{{ item.fabric_sites.authentication_profile }}"
                is_pub_sub_enabled: "{{ item.fabric_sites.is_pub_sub_enabled }}"
                update_authentication_profile:
                  authentication_order: "{{ item.fabric_sites.update_authentication_profile.authentication_order }}"
                  dot1x_fallback_timeout: "{{ item.fabric_sites.update_authentication_profile.dot1x_fallback_timeout }}"
                  wake_on_lan: "{{ item.fabric_sites.update_authentication_profile.wake_on_lan }}"
                  number_of_hosts: "{{ item.fabric_sites.update_authentication_profile.number_of_hosts }}"
      with_items: "{{ fabric_site_zones }}"
      tags:
        - fabric_site_zones_testing
