---
- name: Sda anycast gateways
  hosts: catalystcenter_servers
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create sda anycast gateways v1
      cisco.catalystcenter.sda_anycast_gateways:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_api_port: "{{ catalystcenter_api_port }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        state: present
        payload:
          - fabricId: "b6af9074-b1d8-4b40-82f9-776d34adb0fc"
            virtualNetworkName: "INFRA_VN"
            vlanId: 100
            vlanName: "VLAN_100"
            ipPoolName: "IP_POOL_100"
            isCriticalPool: true
            isGroupBasedPolicyEnforcementEnabled: true
            isIntraSubnetRoutingEnabled: true
            isIpDirectedBroadcast: true
            isLayer2FloodingEnabled: true
            isMultipleIpToMacAddresses: true
            isSupplicantBasedExtendedNodeOnboarding: true
            isWirelessPool: true
            poolType: "EXTENDED_NODE"
            securityGroupName: "SG_DEFAULT"
            tcpMssAdjustment: 1400
            trafficType: "DATA"
            anchoredSiteId: "7087c88f-ec73-4df1-8f6b-136d7e2ed9e2"
      register: result
    - name: Show result
      ansible.builtin.debug:
        var: result
