---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create an sda_fabric
      cisco.catalystcenter.sda_fabric:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        fabricName: MyFabricName3
      register: sda_fabric_result
    - name: Show new sda_fabric
      ansible.builtin.debug:
        msg: "{{ sda_fabric_result }}"
      when:
        - sda_fabric_result is defined
