---
- name: Play
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Get site info and updating site details
      cisco.catalystcenter.site_intent:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        state: merged
        config:
          - site:
              floor:
                name: Test_Floor2
                parent_name: 'Global/USA/San Francisco/BGL_18'
                length: "101"
                width: "75"
                height: "50"
                rf_model: 'Cubes And Walled Offices'
                floor_number: 3
          - site:
              area:
                name: Canada
                parent_name: 'Global'
            type: area
