---
- name: Play
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Get site info and updating site details
      cisco.catalystcenter.site_workflow_manager:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        log: true
        log_level: DEBUG
        configverify: true
        state: merged
        config:
          - site:
              floor:
                name: Test_Floor6
                parent_name: 'Global/USA/San Francisco/BGL_18'
                length: 103.23
                width: 75.1
                height: 50.22
                rf_model: 'Cubes And Walled Offices'
                floor_number: 3
            site_type: floor
          - site:
              area:
                name: Abc
                parent_name: 'Global'
                address: Bengaluru, Karnataka, India
                latitude: 22.2111
                longitude: -42.1234434
                country: "United States"
            site_type: area
