---
- name: Play
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Get site info and updating site details
      cisco.catalystcenter.site_workflow_manager:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log: true
        catalystcenter_log_level: DEBUG
        config_verify: true
        state: merged
        config:
          - site:
              floor:
                name: Test_Floor6
                parent_name: 'Global/USA/San Francisco/BGL_18'
                length: 103.23
                width: 75.1
                height: 50.22
                rf_model: 'Cubes And Walled Offices'
                floor_number: 3
            site_type: floor
          - site:
              area:
                name: Abc
                parent_name: 'Global'
                address: Bengaluru, Karnataka, India
                latitude: 22.2111
                longitude: -42.1234434
                country: "United States"
            site_type: area
