---
- name: Configure device credentials on Cisco CATALYST Center
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "input_swim.yml"
    - "credentials.yml"
  tasks:
    - name: Import an image, tag it as golden and load it on device  {{ item.device_serial_number }}
      cisco.catalystcenter.swim_intent:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        catc_log: true
        config:
          - import_image_details:
              type: "{{ item.type }}"
              url_details:
                payload: "{{ item.url_details.payload }}"
            tagging_details:
              device_role: "{{ item.device_role }}"
              device_family_name: "{{ item.device_family_name }}"
              device_type: "{{ item.device_type }}"
              tagging: true
            image_distribution_details:
              site_name: "{{ item.site_name }}"
              device_role: "{{ item.device_role }}"
              device_family_name: "{{ item.device_family_name }}"
            image_activation_details:
              site_name: "{{ item.site_name }}"
              device_role: "{{ item.device_role }}"
              device_family_name: "{{ item.device_family_name }}"
              scehdule_validate: false
              distribute_if_needed: true
      with_items: "{{ image_details }}"
      tags:
        - swim
