---
- name: Configure device credentials on Cisco CATALYST Center
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - "input_swim.yml"
    - "credentials.yml"
  tasks:
    - name: Import an image, tag it as golden and load it on device
      cisco.catalystcenter.swim_workflow_manager:
        catalystcenter_host: "{{ catalystcenter_host }}"
        catalystcenter_username: "{{ catalystcenter_username }}"
        catalystcenter_password: "{{ catalystcenter_password }}"
        catalystcenter_verify: "{{ catalystcenter_verify }}"
        catalystcenter_port: "{{ catalystcenter_port }}"
        catalystcenter_version: "{{ catalystcenter_version }}"
        catalystcenter_debug: "{{ catalystcenter_debug }}"
        catalystcenter_log: true
        catalystcenter_log_level: DEBUG
        catalystcenter_api_task_timeout: 1000
        catalystcenter_task_poll_interval: 1
        config:
          - import_image_details:
              type: "{{ item.type }}"
              url_details:
                payload:
                  - source_url: http://172.21.236.183/swim/V1712_2_CCO/cat9k_iosxe.17.12.02.SPA.bin
                    third_party: false
            tagging_details:
              image_name: cat9k_iosxe.17.12.02.SPA.bin
              device_role: ALL
              device_image_family_name: Cisco Catalyst 9300 Switch
              site_name: "{{ item.site_name }}"
              tagging: true
            # image_distribution_details:
            #   image_name: cat9k_iosxe.17.12.02.SPA.bin
            #   site_name: "{{ item.site_name }}"
            #   device_role: "{{ item.device_role }}"
            #   device_family_name: "{{ item.device_family_name }}"
            #   device_series_name: "Catalyst 9300 Series"
            image_activation_details:
              image_name: cat9k_iosxe.17.12.02.SPA.bin
              site_name: "{{ item.site_name }}"
              device_role: "{{ item.device_role }}"
              device_family_name: "{{ item.device_family_name }}"
              device_series_name: "Catalyst 9300 Series"
              scehdule_validate: false
              distribute_if_needed: true
      with_items: "{{ image_details }}"
      tags:
        - swim
