---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  connection: local
  tasks:
    - name: Import Local
      cisco.catalystcenter.swim_import_local:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        # headers: "{{ my_headers | from_json }}"
        isThirdParty: false
        thirdPartyVendor: "string"
        thirdPartyImageFamily: "string"
        thirdPartyApplicationType: "string"
        filePath: "./tests/test-1592357065255.csv"
      register: result
