---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create an configuration_template_project
      cisco.catalystcenter.configuration_template_project:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        name: Cloud Test Template 5
      register: configuration_template_project_result
    - name: Show new configuration_template_project
      ansible.builtin.debug:
        msg: "{{ configuration_template_project_result }}"
      when:
        - configuration_template_project_result is defined
