---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
    - device_details.template
  gather_facts: false
  connection: local
  tasks:
    #
    # Project Info  Section
    #
    - name: Test project template
      cisco.catalystcenter.template_intent:
        catc_host: "{{ catc_host }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_debug: "{{ catc_debug }}"
        log: true
        state: "merged"
        configverify: true
        # ignore_errors: true        # Enable this to continue execution even the task fails
        config:
          - configuration_templates:
              project_name: "{{ item.proj_name }}"
              template_name: "{{ item.temp_name }}"
              template_content: "{{ item.device_config }}"
              version_description: "{{ item.description }}"
              language: "{{ item.language }}"
              software_type: "{{ item.type }}"
              software_variant: "{{ item.variant }}"
              device_types:
                - product_family: "{{ item.family }}"
      register: template_result
      with_items: '{{ template_details }}'
      tags:
        - template
    - name: Create pnp
      cisco.catalystcenter.pnp_intent:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_debug: "{{ catc_debug }}"
        log: true
        config:
          - site_name: "{{ item.site_name }}"
            project_name: "{{ item.proj_name }}"
            template_name: "{{ item.temp_name }}"
            image_name: "{{ item.image_name }}"
            device_info:
              - serial_number: "{{ item.device_number }}"
                hostname: "{{ item.device_name }}"
                state: "{{ item.device_state }}"
                pid: "{{ item.device_id }}"
      register: pnp_result
      with_items: '{{ device_details }}'
      tags:
        - pnp
