---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  connection: local
  tasks:
    - name: Get all User
      cisco.catalystcenter.user_info:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        # headers: "{{ my_headers | from_json }}"
        invokeSource: string
      register: result
