---
- name: Play
  hosts: localhost
  vars_files:
    - credentials.yml
  gather_facts: false
  tasks:
    - name: Create Wirelesss Enterprise SSID
      cisco.catalystcenter.wireless_enterprise_ssid:
        catc_host: "{{ catc_host }}"
        catc_username: "{{ catc_username }}"
        catc_password: "{{ catc_password }}"
        catc_verify: "{{ catc_verify }}"
        catc_api_port: "{{ catc_api_port }}"
        catc_version: "{{ catc_version }}"
        catc_debug: "{{ catc_debug }}"
        state: present
        validate_response_schema: false
        basicServiceSetClientIdleTimeout: 00
        clientExclusionTimeout: 00
        enableBasicServiceSetMaxIdle: true
        enableBroadcastSSID: true
        enableClientExclusion: true
        enableDirectedMulticastService: true
        enableFastLane: true
        enableMACFiltering: true
        enableNeighborList: true
        enableSessionTimeOut: true
        fastTransition: Adaptive
        mfpClientProtection: Optional
        name: Test
        passphrase: ""
        radioPolicy: Dual band operation (2.4GHz and 5GHz)
        securityLevel: WPA2_ENTERPRISE
        sessionTimeOut: 00
        trafficType: voicedata
