---
name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:
    branches: ["main", "stable", "release/v*"]
  workflow_dispatch:
jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Ansible and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint
          pip install -r requirements.txt || true

          ANSIBLE_COLLECTIONS_PATH=$(python -c "import site; print(site.getsitepackages()[0])")/ansible_collections
          ansible-galaxy collection build --force
          ansible-galaxy collection install -f cisco-catalystcenter* -p $ANSIBLE_COLLECTIONS_PATH

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6
        with:
          args: >-
            --exclude tests/
            --exclude playbooks/input_events_and_notification.yml
            --exclude playbooks/image_details.yml
            --exclude playbooks/sda_fabric.yml
          setup_python: "false"
          working_directory: ""
